a{
    text-decoration: none;
}

.nav{
    background-color: #162535;
    height: 10%;
}

.nav a{
    color: #ece1be;
    text-decoration: none;
}

.nav a:hover{
    color: white;
    font-weight: bold;
    .item-icon{
        color:white;
    }
}

.side-bar{
    background-color: #cac9c9;
}
.content{
    background-color: #f1f1f1;
}

.footer{
    background-color: #162535;
    height: 10%;
}

.footer a{
    color: #ece1be;
    text-decoration: none;
}

.footer a:hover{
    color:white;
    font-weight: bold;
    .item-icon{
        color:white;
    }
}

.items a{
    color: #000000;
    height: 15%;
    text-decoration: none;
}

.items a:hover{
    background-color: lightblue;
    color:black;
    font-weight: bold;
    .item-icon{
        color:purple;
    }
}

#person-frame{
    padding-left: 300px;
}

#product-frame{
    padding-left: 300px;
}


.rounded-circle{
    width: 96px;
    height: 96px;
}

