#seats {

}


#seatRow1 {
    height: 60px;
    width: 60px;
    margin: 10px;
    font-size: medium;
    background-color: #1dd5dc;
    display: inline-block;
    float: right;
}

#seatRow1:hover{
    background-color: #e0b32d;

}

#seatRow1  h6{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#seatRow2 {
    margin-top: 150px;
    height: 60px;
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: small;
    background-color: #1dd5dc;
    display: inline;
    float: right;
}

#seatRow3 {
    margin-top: 300px;
    height: 60px;
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: small;
    background-color: #1dd5dc;
    display: inline;
    float: right;
}


