<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/postLogin.do</url-pattern> <!-- Protect specific resources -->
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
            <role-name>moderator</role-name>
            <role-name>manager</role-name>
            <role-name>customer</role-name>
        </auth-constraint>
    </security-constraint>


    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected JSP</web-resource-name>
            <url-pattern>/footer.jsp</url-pattern>
            <url-pattern>/navbar.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>


    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Cinema and Show Servlets Access</web-resource-name>
            <url-pattern>/managers/*</url-pattern>
            <url-pattern>/managers.do</url-pattern>
            <url-pattern>/cinema.do</url-pattern> <!-- Protect cinema.do servlet -->
            <url-pattern>/show.do</url-pattern> <!-- Protect show.do servlet -->
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
            <role-name>manager</role-name>
            <role-name>moderator</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>ADMIN</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
            <url-pattern>/admin.do</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>

        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Moderator</web-resource-name>
            <url-pattern>/moderator/*</url-pattern>
            <url-pattern>/moderator.do</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>

        <auth-constraint>
            <role-name>admin</role-name>
            <role-name>moderator</role-name>
        </auth-constraint>
    </security-constraint>


    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Customer</web-resource-name>
            <url-pattern>/customers/*</url-pattern>
            <url-pattern>/customers.do</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>

        <auth-constraint>
            <role-name>customer</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/login-error.jsp</form-error-page>
        </form-login-config>
    </login-config>


    <error-page>
        <location>/error-403.jsp</location>
        <error-code>403</error-code>
    </error-page>

    <welcome-file-list>
        <welcome-file>cinemaHome.do</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>HomePageServlet</servlet-name>
        <servlet-class>com.example.cinema_test.controller.servlet.HomePageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomePageServlet</servlet-name>
        <url-pattern>/cinemaHome.do</url-pattern>
    </servlet-mapping>


    <!-- Servlet for post-login redirection -->
    <servlet>
        <servlet-name>PostLoginServlet</servlet-name>
        <servlet-class>com.example.cinema_test.controller.servlet.PostLoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PostLoginServlet</servlet-name>
        <url-pattern>/postLogin.do</url-pattern>
    </servlet-mapping>

</web-app>